html, body {
    height: 100%;
    margin: 0 !important;
    padding: 0 !important;
    background-color: #f1f5fd;
}

.navbar {
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #14477A;
    position: fixed;
    top: 0;
    width: 100%;
    height:5vw;
}

ul{
    overflow: hidden;
    margin: 0;
    margin-right: 10%;
    width: 30%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0;
    list-style-type: none;
}


li a {
    display: flex;
    text-align: center;
    text-decoration: none;
    font-size: 1vw;
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
}
li a:hover {
    border-bottom: 0.1vw solid rgb(255, 253, 114);
}

.container {
    width: 100%;
    height: 100%;
    padding-top: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 90px;
}

.bio {
    width: 80%;
    height: 30%;
    display: flex;
    background-color: #fff;
    flex-direction: row;
    border-radius: 1vw;
}
.left-side {
    width: 45%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.user-image {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.foto-raka{
    border-radius: 50%;
    height: 100px;
    width: 100px;
}

.bio-nama{
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile-name{
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.button-profile{
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.button-resume,
.button-kontak{
    height: 50%;
    width: 45%;
    border-radius: 0.5vw;
    border: 0.2vw solid black;
    background-color: #ceddf5;
}

.button-resume:active,
.button-kontak:active{
    background-color: #7aa6ec;
}

.garis-vertikal {
    border-left: 1px black solid;
    height: 170px;
    width: 0px;
}

.data-profile {
    width: 55%;
    height: 100%;
    display: flex;
}

th {
    font-weight: 700; 
    width: 10vw;

}

.formulir {
    width: 80%;
    height: 100%;
    display: flex;
    margin-top: 2%;
    background-color: #fff;
    flex-direction: row;
    border-radius: 1vw;
}

.form-fill {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    padding: 1vw;
}

.button-simpan{
    margin-top: 1vw;
    border: 0;
    border-radius: 1vw;
    background-color: #28A745;
    padding-bottom: 10px;
    padding-top: 10px;
    color: white;
    font-weight: bold;
}
.button-simpan:hover{
    background-color: #218938;

}


.hideComponent{
    display: none;
}